.clickable:hover {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}
.list-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 25px 0;
  border-bottom: 1px solid whitesmoke;
}

.task-row {
  align-items: center;
  padding: 15px 5px;
  display: flex;
  border-bottom: 1px solid whitesmoke;
}

.task-action {
  padding: 0 30px 0 15px;
}

.task-item {
  font-weight: 600;
  font-size: 16px;
}

.title {
  font-size: 24px;
}

.text-link {
  font-size: 16px;
  text-transform: uppercase;
  color: deepskyblue;
  font-weight: lighter;
}